.account-details-container{
    @media  all and (max-width: 668px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    & .details{

       

        &.detail-left{
            width: 30rem;

            @media  all and (max-width: 668px) {
                width: 100%;
            }
            

            & .image{
                padding-right: 2rem;

                & img{
                    border: .3rem solid #eee;
                    padding: 1rem;
                    width:3.5cm;
                    height:4.5cm;
                }
            }

            & .info{
                padding: 2rem 2rem 0 0;

                @media  all and (max-width: 668px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 2rem;
                }
        
                
                @media  all and (max-width: 500px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    padding: 2rem 0 0 0;
                }

                & .item{
                    padding: .5rem 0;
                   
                    @media  all and (max-width: 500px) {
                        text-align: unset;
                        flex: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                    & span{
                        font-size: 1.6rem;
                        @media  all and (max-width: 500px) {
                           font-size: 1.2rem;
                           display: inline-block;
                           width: 100%;
                        }

                        &:nth-child(1){
                            color: #555;
                            font-size: 1.4rem;
                        }

                        &:nth-child(2){
                            color: #333;
                            text-align: right;
                        }
                    }
                }
            }
        }

        &.detail-right{
            padding:0 0 0 2rem;
            @media  all and (max-width: 668px) {
                padding: 0;
            }

            & .block-info{
                padding: 1.5rem 0;

                & .title{
                    font-size: 1.4rem;
                    font-weight: bold;
                    color:#333;
                    margin: 1rem 0;

                    @media  all and (max-width: 500px) {
                        text-align: center;
                    }
                }

                & .item{
                    padding: 1rem 0;
                    border-bottom: .1rem solid #eee;

                    & span{
                        font-size: 1.4rem;
                        @media  all and (max-width: 500px) {
                            font-size: 1.2rem;
                        }
                        &:nth-child(1){
                            color: #555;

                        }

                        &:nth-child(2){
                            color: #333;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
