.checkedbox{
    position: relative;

    & .chk-label{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:2rem;
        height:2rem;
        border:.2rem solid $color_blue_normal_8;
        border-radius:.4rem;
        background: #fff;

        &::before{
            position: absolute;
            content:"\f00c";
            top:-.1rem;
            left:.28rem;
            font-size: 1.1rem;
            color: #fff;
            text-align: center;
        }
    }

    & .chk-input{
        display: none;

        &:checked ~ .chk-label{
            background: $color_blue_normal;

            &::before{
                color: #fff;
            }
        }
    }
}

.global-checkbox-label,
.checkbox-label {
    font-size: 1.6rem;
}

.global-checkbox-label{
    font-weight: 600;
    margin-bottom: 1rem;
    color:#444;
}